
ul.nav.navbar-nav.navbar-right.navbar-donate
    li
        a(href='donate.html' data-lang="topbar.donate") Donate

form.navbar-form.navbar-right.language-form
    .form-group
        img(src="#" data-lang-img="languages.flag" width="20px" height="20px")
        select.form-control
            option(value="es" data-lang="languages.spanish") Spanish

.clearfix.visible-sm

ul.nav.navbar-nav.navbar-right.navbar-links
    li.social
        a(href='#')
            i.fa.fa-facebook
    li.social
        a(href='#about')
            i.fa.fa-youtube
    li.social
        a(href='#contact')
            i.fa.fa-instagram

    li.social
        a(href='#contact')
            i.fa.fa-twitter
    li
        a(href='#contact')
            img(src="img/05.png" height="26px")
    li
        a(href='#contact')
            img(src="img/06.png" height="26px")
    li
        a(href='#contact')
            img(src="img/07.png" height="26px")
    li
        a(href='#contact')
            img(src="img/08.png" height="26px")